/* custom font icons */
@import "./font-icons/style.css";

/*@import "./iconfont.css";*/
@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1478943494_6020699.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1478943494_6020699.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1478943494_6020699.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1478943494_6020699.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1478943494_6020699.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    
                                                        
a {
  color: rgba(34, 131, 201, 0.83);
  text-decoration: none;
}

a:hover {
  color: #ff4081;
  text-decoration: none;
}
*{
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

html {
  font-family: 'Roboto', "Helvetica Neue",Helvetica,"Segoe UI",Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei",sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
}

body {
  background: #f5f6f9;
  height: 100%;
  width: 100%;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
	font-family: 'Roboto', "Helvetica Neue",Helvetica,"Segoe UI",Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei",sans-serif !important;
}

html, body, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  line-height: 24px;
}
.muidocs-checkbox-example {
  position: 'absolute';
  border: 2px solid #FF9800;
  background-color: #4CAF50;
}
input,button,textarea{
  outline: none;
}
/*Layout Settings*/


/*My Own Settings*/
#App{
  height: 100%;
  width: 100%;
}
div::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}
div::-webkit-scrollbar-thumb
{
    border-radius: 9px;
    -webkit-box-shadow: inset 0 0 3px #888;
    box-shadow: inset 0 0 3px #888;
    background-color: #999;
}


/* login & sign up */

                    
.login-container{
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #eee;
}
.login{
    max-width: 400px;
    height: 227px;
    width: 90%;
    position: relative;
    overflow: visible;
}
.wx-login-form{
    overflow: visible;
}
#login-owl{
    width: 211px;
    height: 108px;
    top:-100px;
    left:50%;
    margin-left: -111px; 
    position: absolute;
    background: url('/images/owl-login.png') no-repeat;
}
.login-hand,.login-hand-r,.login-hand-focus,.login-hand-r-focus{
    width: 34px;
    height: 34px;
    background: #472d20;
    border-radius: 40px;
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
    position: absolute;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.login-hand{
    left: 14px;
    bottom: -8px;
}
.login-hand-r{
    left: 170px;
    bottom: -8px;
}
.password>.login-hand-focus{
    -webkit-transform: translateY(-20px) translateX(50px) scale(0.7);
    transform: translateY(-20px) translateX(50px) scale(0.7);
    left: 14px;
    bottom: -8px;
}
.password>.login-hand-r-focus{
    -webkit-transform: translateY(-20px) translateX(-50px) scale(0.7);
    transform: translateY(-20px) translateX(-50px) scale(0.7);
    left: 170px;
    bottom: -8px;
}
.login-arms{
    position: absolute;
    width: 100%;
    top: 58px;
    height: 41px;
    overflow: hidden;
}
.login-arm,.login-arm-r,.login-arm-r-focus,.login-arm-focus{
    width: 40px;
    height: 65px;
    position: absolute;
    background: url('/images/owl-login-arm.png');
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.login-arm{
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    left: 20px;
    top: 40px;
}
.login-arm-r{
    -webkit-transform: rotate(20deg) scaleX(-1);
    transform: rotate(20deg) scaleX(-1);
    left: 158px;
    top: 40px;
}
.password>.login-arms>.login-arm-focus{
    -webkit-transform: translateY(-40px) translateX(40px);
    transform: translateY(-40px) translateX(40px);
    left: 20px;
    top: 40px;
}
.password>.login-arms>.login-arm-r-focus{
    -webkit-transform: translateY(-40px) translateX(-40px) scaleX(-1);
    transform: translateY(-40px) translateX(-40px) scaleX(-1);
    left: 158px;
    top: 40px;
}
.login-pad{
    padding: 30px;
    background: white;
}
.login-controls{
    margin-bottom: 10px;
    position: relative;
}
.login-control-label{
    position: absolute;
    left: 13px;
    top: 10px;
    color: #777;
    font-family:"iconfont";
    font-size:16px;
    font-style:normal;
}
.login input{
    padding: 9px 6px 9px 40px;
    height: auto;
    color: #444;
}
.login-form-control{
    display: block;
    width: 100%;
    font-size: 1.1rem;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
.login-actions{
    border-top: 1px solid #e4e4e4;
    background: #f7f7f7;
    padding: 15px 30px;
    text-align: right;
}
.login-actions a{
    color: #777;
}
.login-actions a:hover{
    color: #2283c9;
}
.login-btn{
    background: #2283c9;
    color: #fff;
    padding: 6px 12px;
    border: 1px solid transparent;
    display: inline-block;
    font-size: 1.1rem;
    border-radius: 4px;
}
.login-btn-disabled{
    background: #777 !important;
}
.login-error-input{
    border: 1px solid rgba(255, 0, 0, 0.6) !important;
    box-shadow: 0 0 5px 1px rgba(255, 0, 0, 0.6);
}