html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1")
        link(rel="stylesheet" type="text/css" href="stylesheets/data-flex-css-layout.min.css")
        link(rel="stylesheet" type="text/css" href="stylesheets/main.css")
        link(rel="Shortcut Icon" href="/favicon.ico")
        title CR
    body
        div(id='App')
        script(src='/bundle/bundle.js')